body{
    
    text-align: center;
    padding: 300px 0px;
}
img{
  
    
    width: 100px;
    text-align: center;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(78, 78, 78, 0.486);
    font-size: 20px;
}
button{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(250, 237, 50);
    font-size: large;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 12px;

}